# Case study on testing of hypothesis
A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.
* The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
* The company needs to check whether there is any dependency between the
features “Region” and “Manager”.
Help the company to carry out their study with the help of data provided

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df=pd.DataFrame(data)

In [5]:
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [6]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# 1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

# Hypothesis:
* H_0 : The sales before and after digital marketing is equal
* H_a : The sales before and after digital marketing is higher
* Significance level  : 0.05
* Performing one-tailed t-test

In [10]:
from scipy import stats

In [11]:
from statsmodels.stats.weightstats import ttest_ind

In [26]:
salesbefore=int(np.mean(df['Sales_before_digital_add(in $)']))
salesafter=int(np.mean(df['Sales_After_digital_add(in $)']))
print('Average sales before digital marketing is',salesbefore)
print('Average sales after digital marketing is',salesafter)

Average sales before digital marketing is 149239
Average sales after digital marketing is 231123

In [30]:
tscore,pval=stats.ttest_ind(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])
print("The t score is: ", round(tscore, 5))
print("The p value is: ", round(pval, 20))

The t score is:  -12.99508
The p value is:  2.6144e-16

As p value is much lower than 0.05, we reject the null hypothesis that the sales before digital marketing and after digital marketing are equal and conclude that there has been a significant increase in sales after the introduction of digital marketing.

# --------

# 2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

# Hypothesis:
* H_0 : Region and Manager are independent
* H_a : Region and Manager are not independent
* Significance level : 0.05
* Performing chi squared test

In [31]:
data['Region'].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [32]:
data['Manager'].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [36]:
pd.crosstab(data.Region,data.Manager,margins=True)

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [35]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [37]:
table=[[4,3,3],[4,1,2],[1,3,1]]
stat,p,dof,expected=chi2_contingency(table)

In [39]:
alpha=0.05

In [41]:
print('Significance level=%.3f,p=%.3f'%(alpha,p))

Significance level=0.050,p=0.549

Since the p value is greater than the significance level of 0.05 we fail to reject the null hypothesis and conclude that the variables are independent.That is the features 'Manager' and 'Region' have no significant relation.

# Insights:
    
1. In the first question,after performing one tailed t test, it was concluded that there was a significant increase in sales after the introduction of digital marketing
2. In the second question,after performing the chi squared test, it was concluded that the features 'Region' and 'Manager' are independent.